# For Loop in Python:

## 1) Print all natural number from 1 to n.

In [3]:
n=int(input("Enter number: "))
for i in range(1,n+1):
    print(i)

Enter number:  10

1
2
3
4
5
6
7
8
9
10

## 2) Print all natural numbers in reverse.

In [2]:
n=int(input("Enter Number: "))
for i in range(n,0,-1):
    print(i)

Enter Number:  10

10
9
8
7
6
5
4
3
2
1

## 3) Print all even numbers in reverse.

In [23]:
n=int(input("Enter number: "))
for i in range(n,0,-2):
    print(i)

Enter number:  10

10
8
6
4
2

## 4) Print all odd number in reverse.

In [21]:
n=int(input("Enter number: "))
for i in range(n-1,0,-2):
    print(i)

Enter number:  10

9
7
5
3
1

## 5)Print all even number between 1 to 100.

In [25]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## 6) Print all odd number from 1 to 100.

In [26]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## 7) Print Multiplication of any number.

In [27]:
n=int(input("Enter number: "))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

Enter number:  2

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

## 8) Write a python program to calculate the sum of all natural numbers from 1 to given number.

In [30]:
n=int(input("Enter number:"))
sum=0
for i in range(1,n+1):
    print(i)
    sum=sum+i
print(f"Sum of all {n} numbers= {sum}")

Enter number: 10

1
2
3
4
5
6
7
8
9
10
Sum of all 10 numbers= 55

## 9) Write a python program to calculate the sum of all odd number with in the given range.

In [34]:
n=int(input("Enter number: "))
sum=0
for i in range(1,n+1,2):
    print(i)
    sum=sum+i
print(f"Sum of all odd numbers= {sum}")

Enter number:  10

1
3
5
7
9
Sum of all odd numbers= 25

## 10) Write a python program to calculate the sum of the number which are divisible by 5 and 11.

In [35]:
n=int(input("Enter number: "))
sum=0
for i in range(1,n+1):
    if i%5==0 and i%11==0:
        sum=sum+i
        print(f"{i}|{sum}")

Enter number:  1000

55|55
110|165
165|330
220|550
275|825
330|1155
385|1540
440|1980
495|2475
550|3025
605|3630
660|4290
715|5005
770|5775
825|6600
880|7480
935|8415
990|9405

## 11) Prime number program.

In [40]:
flag=0
n=int(input("Enter number: "))
m=int(n/2)
for i in range(2,m+1):
    if n%i==0:
        print(f"{n} is not a prime number.")
        flag=1
        break
if flag==0:
    print(f"{n} is prime number.")

Enter number:  49

49 is not a prime number.

## 12) Print Prime numbers 1 to 100.

In [54]:
isprime=True
for i in range(2,101):
    for j in range(2,101):
        if i!=j and i%j==0:
            isprime=False
            break
    if isprime==True:
        print(i)
    isprime=True

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Calculator:

In [61]:
n1=int(input("Enter First number: "))
n2=input("Enter Operator: ")
n3=int(input("Enter Second number: "))
if n2=="+" or n2=="-" or n2=="*" or n2=="**" or n2=="/" or n2=="//":
    if n2=="+":
        print(f"Addition of {n1} and {n3}= {n1+n3}")
    elif n2=="-":
        print(f"Subtraction of {n1} and {n3}= {n1-n3}")
    elif n2=="*":
        print(f"Multiplication of {n1} and {n3}= {n1*n3}")
    elif n2=="**":
        print(f"Exponent of {n1} and {n3}= {n1**n3}")
    elif n2=="/":
        print(f"Division of {n1} and {n3}= {n1/n3}")
    elif n2=="//":
        print(f"Floor Division of {n1} and {n3}= {n1//n3}")
else:
    print("Invalid Operator")

Enter First number:  22
Enter Operator:  )
Enter Second number:  21

Invalid Operator

# Nested-For Loop:

In [17]:
list1=[['Sweta','Madhuri'],['Kavya','Prerana']]
list2=[]
list3=[]
for i in list1:
    for j in i:
        if j[0]=='M' or j[0]=='P':
            list2.append(j)
        else:
           list3.append(j)
print(list2)
print(list3)

['Madhuri', 'Prerana']
['Sweta', 'Kavya']

In [45]:
for i in range(1,6):
    for j in range(1,6):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [46]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [47]:
for i in range(1,6):
    for j in range(i,0,-1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [48]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [49]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=" ")
    print()
for i in range(4,0,-1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
rupees_we_have=int(input("Enter Price: "))
cost_per_choc=int(input("Enter cost per chocolate: "))
no_of_wrap_get_one_choc=int(input("Enter number of wrapper to get extra chocolate: "))
choc=rupees_we_have//cost_per_choc
wrappers=rupees_we_have//no_of_wrap_get_one_choc
newchoc=0
while choc!=0:
    newchoc+=choc+wrappers
    choc-=1
print(f"Customer got {newchoc} chocolates")

Enter Price:  10
Enter cost per chocolate:  1
Enter number of wrapper to get extra chocolate:  3

Customer got 85 chocolates