In [222]:
import numpy as np
import pandas as pd

In [223]:
df_lin = pd.read_csv('cars.csv')
df_lin.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [224]:
df_lin['normalized-losses'].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [225]:
df_lin['horsepower'].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [226]:
df_lin['normalized-losses'].replace('?',np.nan,inplace = True)

In [227]:
df_lin['normalized-losses'] = df_lin['normalized-losses'].astype('float')

In [228]:
df_lin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.2+ KB

In [229]:
df_lin.describe()

,symboling,normalized-losses,width,height,engine-size,city-mpg,highway-mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,65.907805,53.724878,126.907317,25.219512,30.751220,13227.478049
std,1.245307,35.442168,2.145204,2.443522,41.642693,6.542142,6.886443,7902.651615
min,-2.000000,65.000000,60.300000,47.800000,61.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,64.100000,52.000000,97.000000,19.000000,25.000000,7788.000000
50%,1.000000,115.000000,65.500000,54.100000,120.000000,24.000000,30.000000,10345.000000
75%,2.000000,150.000000,66.900000,55.500000,141.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,72.300000,59.800000,326.000000,49.000000,54.000000,45400.000000

In [230]:
mean = df_lin['normalized-losses'].mean()
df_lin['normalized-losses'].fillna(mean,inplace = True)

In [231]:
df_lin['horsepower'].replace('?',np.nan,inplace = True)

In [232]:
df_lin['horsepower'].isnull().sum()

2

In [233]:
df_lin['horsepower'] = df_lin['horsepower'].astype('float')

In [234]:
df_lin.dropna(inplace = True)

In [235]:
df_lin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 203 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          203 non-null    int64
 1   normalized-losses  203 non-null    float64
 2   make               203 non-null    object
 3   fuel-type          203 non-null    object
 4   body-style         203 non-null    object
 5   drive-wheels       203 non-null    object
 6   engine-location    203 non-null    object
 7   width              203 non-null    float64
 8   height             203 non-null    float64
 9   engine-type        203 non-null    object
 10  engine-size        203 non-null    int64
 11  horsepower         203 non-null    float64
 12  city-mpg           203 non-null    int64
 13  highway-mpg        203 non-null    int64
 14  price              203 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 25.4+ KB

In [236]:
df_lin.sample(10)

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
187,2,94.0,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68.0,37,42,9495
114,0,122.0,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95.0,25,25,17075
43,0,122.0,isuzu,gas,sedan,rwd,front,61.8,53.5,ohc,111,78.0,24,29,6785
48,0,122.0,jaguar,gas,sedan,rwd,front,69.6,52.8,dohc,258,176.0,15,19,35550
154,0,81.0,toyota,gas,wagon,4wd,front,63.6,59.1,ohc,92,62.0,27,32,7898
157,0,91.0,toyota,gas,hatchback,fwd,front,64.4,52.8,ohc,98,70.0,30,37,7198
75,1,122.0,mercury,gas,hatchback,rwd,front,68.0,54.8,ohc,140,175.0,19,24,16503
5,2,122.0,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110.0,19,25,15250
95,1,128.0,nissan,gas,hatchback,fwd,front,63.8,53.3,ohc,97,69.0,31,37,7799
11,0,192.0,bmw,gas,sedan,rwd,front,64.8,54.3,ohc,108,101.0,23,29,16925

In [237]:
df_cat = df_lin.select_dtypes('object')
df_num = df_lin.select_dtypes(include = ['int','float'])

In [238]:
from sklearn.preprocessing import LabelEncoder

In [239]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [240]:
df_lin = pd.concat([df_cat,df_num],axis = 1)

In [241]:
df_lin.head()

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [242]:
x = df_lin.iloc[:,:-1]
y = df_lin.price

In [243]:
from sklearn.model_selection import train_test_split

In [244]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20,random_state = 3)

In [245]:
#from sklearn.preprocessing import StandardScaler

In [246]:
#ss = StandardScaler()
#xtrain = ss.fit_transform(xtrain)
#xtest = ss.fit_transform(xtest)

In [247]:
from sklearn.linear_model import LinearRegression

In [248]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)

In [249]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [250]:
r2_score(ytest,ypred)

0.9141975339874766

In [251]:
mean_squared_error(ytest,ypred)

7213918.050143217

In [252]:
mean_absolute_error(ytest,ypred)

1958.19121700132

In [253]:
np.sqrt(mean_squared_error(ytest,ypred))

2685.8737963916356

In [254]:
np.log(np.sqrt(mean_squared_error(ytest,ypred)))

7.895761390272558

In [255]:
from sklearn.preprocessing import PolynomialFeatures

In [256]:
pf = PolynomialFeatures(degree = 1)
polyx = pf.fit_transform(xtrain)
lr = LinearRegression()
lr.fit(polyx,ytrain)
yp = lr.predict(pf.fit_transform(xtest))

In [257]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [258]:
r2_score(ytest,yp)

0.9141975339874757